/* Full-width input fields */
input[type=text] {
    width: 50%;
    padding: 10px 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.cancelbtn, .buttonMonthlyUpdate {
    background-color: #4CAF50 !important;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    float: left !important;
}

.searchButton {
    width: 45%;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 2%;
    margin-top: 1%;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    /*width: auto;*/
    padding: 10px 18px;
    background-color: #f44336 !important;
}

.container_ {
    padding: 16px;
}

/* The Modal (background) */
.modal_ {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content_ {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate_ {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


@media only screen and (min-width: 150px) and (max-width: 600px) {
    .cancelbtn, .buttonMonthlyUpdate, .searchButton {
        width: 100%;
    }

    input[type=text] {
        width: 100%;
    }
}